<ion-header>
  <ion-toolbar color="primary">
    <ion-title dir="rtl" >دستگاه</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item hidden id='card' button  [routerLink]="['/main']" color="secondary">
    <ion-label dir='rtl' id='card_label' >
      
    </ion-label>
  </ion-item>


  <ion-fab id="pluss_button"  vertical="bottom" [routerLink]="['/add-device']"horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
