<ion-header>
  <ion-toolbar color='primary'>
    <ion-title dir="rtl">چهره‌ها</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div id="card-container2">

  </div>

  <ion-fab hidden=true vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab id="pluss_button" (click)="salam"  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
