<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>حساب</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-face">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>چهره‌ها</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="faces">
      <ion-icon name="eye-outline"></ion-icon>
      <ion-label>تردد‌ها</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>